.sphere-cloud{
width: 50%;
  height: 100%;
  top: 0;
  padding-top: 1%;
  position: absolute;
  right: 0;
  overflow: hidden;
    

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: #ac12ff;
    text-transform: uppercase;
    
}

.tagcloud--item:hover {
    color: #ac12ff;
    text-shadow: 0 0 5px rgba(177, 129, 255, 0.5); 
    
}

@media screen and (max-width: 1200px) {
    .sphere-cloud{
        position: initial;
        width: 100%;
        height: 0%;
        overflow: visible;
    }
    .tagcloud {
        font-size: 1em; /* Decrease the font size to reduce the sphere's radius */
      }
}